REACT_APP_SUPABASE_URL=https://srhjohvbvopennjweosz.supabase.co
REACT_APP_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNyaGpvaHZidm9wZW5uandlb3N6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2NDc1NTE5ODEsImV4cCI6MTk2MzEyNzk4MX0.bSlakrLR-yqmV29f8oi1aZJVcVSHgCqWTXEiLbhJdq4